<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <div class="page-header">
                        <h1>
                            Система управления футбольным клубом <small>Курсовая работа (Аронов Александр 13-ПРИ)</small>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-element">
                    <div class="view">
                        <h2>Главная страница</h2>
                        <p>Курсовая работа по предмету: "Базы данных". Веб-приложение написано на С# и ASP.NET MVC5, в ходе разработки использовалась таблица стилей bootstrap и сервис Layoutit для формирования разметки. @DateTime.Today.ToShortDateString()</p>
                        <p><a class="btn btn-default" href="#">Авторизоваться</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>