@using MVCApp.Controllers
@if (AutotizationController.isAutorized)
{
    using (Html.BeginForm("Logoff", "Autotization", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/Mans/Details/@AutotizationController.user" id="Details" class="btn btn-default btn-xs" name="ManID">Профиль</a>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Авторизоваться", "Login", "Autotization", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
